#about {
    display: grid;
    position: relative;
    padding-bottom: 5rem;
    justify-content: space-between;
    grid-template-columns: minmax(30%, 45%) minmax(30%, 750px);
    grid-template-rows: max-content 1fr;
    grid-template-areas: 
        "multi title"
        "multi cutout";
    column-gap: 2rem;
    row-gap: 2rem;
}

.multi-pg {
    display: flex;
    flex-direction: column;
    grid-area: multi;
    font-weight: 400;
    flex: 1;
}

.multi-pg .text {
    margin-bottom: 3rem;
}

.divider {
    width: 9rem;
    height: 0.3rem;
    background-color: var(--color-secondary);
    margin-bottom: 0.8rem;
    border-radius: 1rem;
}

.about-title {
    grid-area: title;
    height: fit-content;
}

.cutout {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.cutout img {
    width: calc(100% + 5rem);
    transform: translateX(-5rem) translateY(5rem);

}

/* About Page */
#begin {
    position: relative;
    height: 100dvh;
    padding-top: 0;
    padding-bottom: 0;

    .cutout {
        position: relative;
        height: 100%;
    }

    span {
        position: absolute;

        &.h1 {
            font-size: 7rem;
            bottom: 35rem;
            font-weight: 600;
        }

        &.h2 {
            font-size: 2rem;
            bottom: 5rem;
            font-weight: 600;
        }
    }

    img {
        width: 65%;
        position: absolute;
        transform: none;
        right: 0;
        bottom: 0;
    }
}

#education {
    display: flex;
    gap: 15rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: var(--color-secondary);

    p, a {
        color: var(--color-primary);
    }

    .multi-pg {
        display: grid;
        flex: 1;
    }
}

.red-logo {
    width: 65%;
}

.certification {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1;
    min-width: 0;

    a {
        padding: 0;
        max-width: none;
        height: 4rem;
    }
}

.ed2 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
    background-color: var(--color-primary-lighter) !important;
    
    .h1, .h3 {
        color: var(--color-secondary) !important;
    }
}