:root {
  width: 100dvw;
  min-height: 100dvh;

  font-family: Outfit, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #482C2C;
  background-color: #482C2C;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, p, body, img {
  overflow-wrap: break-word;
  margin: 0;
}

html {
  background-image: linear-gradient(to bottom, #AAAAC9, #8D92B5);
}

a {
  text-decoration: none;
  color: #482C2C;
  font-weight: 600;
}

.glass {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

h1 {
  margin: 0;
  width: fit-content;
}

section {
  display: inline;
}

.title {
  width: 100%;
}

.center {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}