:root {
  font-family: Outfit, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100dvh;
  width: 100dvw;
  color: #482C2C;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  margin: 0;
}

body {
  display: grid;
  margin: 0;

  overflow-wrap: break-word;
  background-image: linear-gradient(to bottom, #8D92B5, #AAAAC9);
}

a {
  text-decoration: none;
  color: #482C2C;
  font-weight: 600;
}

.glass {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

header {
  grid-area: header;
}

main {
  grid-area: main;
  overflow-y: auto;
}

h1 {
  margin: 0;
  width: fit-content;
}

section {
  display: inline;
  height: calc(100dvh - 5rem);
}