#home {
    position: relative;
    z-index: 99;

    img {
        width: 100%;
        max-height: 100dvh;
        display: block;
        object-fit: cover;
        object-position: center top;
    }
}

.curved-text {
    position: absolute;
    top: 17%;
    left: 14.5%;
    width: 63%;
    transform: translateY(-5px);
}

.guideButton {
    display: flex;
    position: absolute;
    bottom: 0;
    align-items: center;
    gap: 1rem;
    padding-top: 0;
    padding-bottom: 4rem;

    a {
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }

    span {
        font-weight: 600;
    }
}

.down-arrow-icon {
    padding: 0.6rem;
    width: 30px;
    height: 30px;
    fill: #482C2C;
}