header {
    position: absolute;
    height: 5rem;
    width: 100%;
    top: 0;
    z-index: 10;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    height: 100%;
}

/* .nav-container.glass {
    transition:
        background-color 1.5s ease,
        backdrop-filter 1.5s ease,
        -webkit-backdrop-filter 1.5s ease;
} */

.nav-container img {
    width: 6rem;
}

.navigation {
    all: unset;
    display: flex;
    gap: 4rem;
    margin-left: 1rem;
    align-items: center;
}

.navigation li {
    list-style: none;
    font-size: 1.4rem;
}