#header {
    position: fixed;
    width: stretch;
    z-index: 100;

    animation-name: smoothlyBack;
    animation-duration: 1s;
    
}

nav {
    display: flex;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    justify-content: space-between;
    border-radius: 2rem;

}

nav.scrolled {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.links {
    display: flex;
    list-style: none;
    gap: 7.5rem;
    font-size: 1.40rem;
    font-weight: 600;
}

#header:has(nav.scrolled) {
    animation-name: smoothly;
    animation-duration: 1s;

    left: 3rem;
    right: 3rem;
    top: 2rem;

    ::before {
        border-radius: 2rem;
    }
}

@keyframes smoothly {
    0% {
        left: 0.5rem;
        right: 0.5rem;
        top: 0.5rem;
    }
    100% {
        left: 3rem;
        right: 3rem;
        top: 2rem;
    }
}

@keyframes smoothlyBack {
    100% {
        left: 0rem;
        right: 0rem;
        top: 0rem;
    }
    0% {
        left: 3rem;
        right: 3rem;
        top: 2rem;
    }
}