#projects {
    display: grid;
    padding-top: 7rem;

    span, a {
        margin: auto;
    }
}

.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.8rem;
    padding-top: 6rem;
    padding-bottom: 6rem;

    .glass {
        border-radius: 1.87rem;
    }
}

.project-card {
    display: flex;
    flex-direction: column;
    padding: 0.93rem;
    gap: 0.5rem;

    .h2 {
        font-weight: 600;
        text-transform: capitalize;
    }

    .h2, .h4 {
        margin-left: 0.3rem !important;
    }

    .h4 {
        font-weight: 500;
        margin-bottom: 0.5rem;
    }

    .long-btn {
        margin: unset !important;
        max-width: unset !important;
        height: 2.93rem !important;
        font-weight: 600 !important;
    }
}

.project-image {
    width: auto;

    img {
        width: 100%;
        border-radius: 1.1rem;
    }
}

.snowpile {
    display: flex;
    width: 100%;
    margin-top: 4rem;
    mix-blend-mode: multiply;
    opacity: 0.8;

    .pile1 {
        transform: scaleX(-1);
        margin: -0.5rem;
    }
}

#project {
    position: relative;
    padding-top: 8.5rem;
    padding-bottom: 0;
    
    .search-bar {
        position: relative;

        span {
            margin-left: 5rem;
        }

        .search {
            margin-right: 1rem;
        }

    }

    .long-btn {
        max-width: unset;
        justify-content: space-between;
        height: 5rem;
        border-radius: 4rem;
    }

    .search {
        width: 15rem;
        padding: 1rem 2.5rem;
        position: inherit;
        border-radius: 2rem;

        input {
            z-index: 222;
        }
    }
}