#skills {
    display: grid;
    position: relative;
    height: 8.3rem;
    background-color: var(--color-primary-lighter);
    align-items: center;
}

.skills {
    height: 4rem;
    gap: 8rem;
    justify-self: center;
    padding: 0 10rem;
}